<h2>Edit Person</h2>

<form action="/persons/{{person.person_id}}/edit" method="post" class="form">
  <label>
    Name:
    <input type="text" name="name" value="{{person.name}}" required />
  </label>
  <label>
    Mobile:
    <input type="text" name="mobile" value="{{person.mobile}}" required />
  </label>
  <label>
    Type:
    <select name="type" required>
      <option value="">--Select--</option>
      <option value="L" {{#if (eq person.type "L")}}selected{{/if}}>Lender</option>
      <option value="B" {{#if (eq person.type "B")}}selected{{/if}}>Borrower</option>
    </select>
  </label>
  <button type="submit" class="btn">Save Changes</button>
  <a href="/persons" class="btn">Cancel</a>
</form>
